<!DOCTYPE html>
<html ng-app="DateFacts">
  <head>
    <meta charset="utf-8">
    <title>Chack your date</title>
    <% include ./partials/header %>
  </head>
  <body>
    <h1>Date Facts!</h1>
<section ng-controller="DateFactsController">
  <form ng-submit=newDateFact()>
    <input type="text" ng-model="newDate.day" placeholder="...day">
    <input type="text" ng-model="newDate.month" placeholder="...month">
    <input type="submit" value="WOOOW">
  </form>

<section ng-repeat="dateFact in dateFacts">
  <ul>
    <li>{{dateFact.text}}</li>
  </ul>
</section>
</section>
  </body>
</html>
