body{
  background-color: lightblue;
  margin: 0
}
.title{
  position: relative;
  text-align: center;
  background-color: lightgray;
  margin-top: 0;
}
.search{
  position: absolute;
  top:90px;
  left:90%;
}

.box {
  max-width: 600px;
  background-color: white;
  height: 300px;
}
